/* About Section */
.about-section {
  padding: 80px 0;
  background-color: #fafbfc ;
}

.about-img {
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.about-text h3 {
  font-weight: 700;
  font-size: 36px;
  color: #2980b9;
}

.about-text p {
  font-size: 18px;
  color: #5d6d7e;
}

/* Navbar Social Icons */
.social-icons a {
  font-size: 20px;
  color: #34495e;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #3498db;
}